body{
    margin: 0;
    padding: 0;
}
.dusk{
    background-image: url('../../public/Images/dusk.jpg');
    background-size: 100%;
    color:violet;
}
.dusk h6{
    color:rgb(7, 7, 58) !important;
}
.dusk p{
    color: rgb(116, 116, 224) !important;
}
.dusk h5{
    color:orange !important;
}