body{
    margin: 0;
    padding: 0;
}
.midnight{
    background-image: url('../../public/Images/midnight.jpg');
    background-size: 100%;
    color:rgb(60, 65, 69);
}
.midnight h6{
    color:rgb(94, 95, 96) !important;
}
.midnight p{
    color: rgb(176, 182, 182) !important;
}
.midnight h5{
    color:rgb(35, 50, 44) !important;
}